@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: url("form_login/img/R.jpg");
  background-position: center;
  background-size: cover;
}
.from-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(15, 12, 12);
}
h2 {
  font-size: 2em;
  color: #130d0d;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #140e0e;
  font-size: 1em;
  pointer-events: none;
  transition: -5;
  font-weight: 600;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #140f0f;
}
.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #181313;
  font-size: 1.2em;
  top: 20px;
}
.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #161414;
  display: flex;
  justify-content: left;
}
.forget label input {
  margin-right: 5px;
}
.forget label a {
  color: #e0d6d6;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
  color: #0e0b0b;
}
button {
  width: 100%;
  height: 40%;
  border-radius: 40px;
  background-color: rgb(227, 26, 245);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
button:hover {
  background-color: rgb(245, 245, 247);
  text-align: center;
}
.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10 px;
}
.register p a {
  text-decoration: none;
  color: #e6d9d9;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: center;
  color: #0e0b0b;
}
.jumbotron ion-icon {
  padding: 12px 24px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 4px #000;
  animation: color 8s infinite;
  text-align: center;
}
.jumbotron:hover {
  background-color: #000;
}

h1 {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 4px #000;
  animation: color 8s infinite;
  text-align: center;
}
@keyframes color {
  0% {
    color: blue;
  }
  10% {
    color: rgb(0, 255, 34);
  }
  20% {
    color: rgb(95, 114, 11);
  }
  30% {
    color: rgb(0, 225, 255);
  }
  40% {
    color: rgb(236, 17, 17);
  }
  50% {
    color: rgb(227, 26, 245);
  }
  60% {
    color: rgb(235, 10, 96);
  }
  70% {
    color: rgb(137, 5, 245);
  }
  80% {
    color: rgb(255, 230, 0);
  }
  90% {
    color: rgb(15, 240, 26);
  }
  100% {
    color: rgb(233, 233, 240);
  }
}
